#contact, #about {
    background-color: #d9faf6;
}

#card-header {
    background-color: #F1F2F6;
}

#quote-mark {
    color: #00224B; 
    font-size: 50px;
    font-style: italic;
    padding: 0px 5px; 
}



